<h1>Enter Credentials</h1>

<%= form_for :person_pass, url: '/person_pass' do |f|  %>

  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div>
    <%= f.submit "Submit" %> <br />
   <% flash.each do |name, msg| %>
   <div>
      <%= msg %>
   </div>
    <% end %>
  </div>
<% end %>